body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: 
    "interface"
    "candidates";

    margin: 0px;
    background-color: rgb(39, 39, 39);
}

#interface {
    grid-area: interface;

    display: grid;
    place-items: center;
    text-align: center;

    border-bottom: olive solid 2px;
}

#div_candidates {
    grid-area: candidates;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

.candidates {
    height: 200px;
    width: 270px;
    border: olive solid 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 30px;
}

#back {
    position: fixed;
    top: 40px;
    left: 30px;
}

button {
    background-color: rgb(39, 39, 39);
    border: olive solid 2px;
}

input {
    background-color: rgb(39, 39, 39);
    border: olive solid 2px;
}

* {
    color: olive;
}

.p {
    font-size: 150%;
}