body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "menu"
    "results";

    margin: 0px;
}

#results {
    grid-area: results;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    flex-wrap: wrap;

    overflow: auto;
    border-top: black solid 2px;
}

.cands {
    height: 500px;
    width: 250px;

    border: black solid 2px;
}

h2 {
    text-align: center;
}