body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 10vh 70vh;
    grid-template-areas: 
    "menu"
    "lider"
    "results";

    margin: 0px;
    background-color: rgb(39, 39, 39);
}

#results {
    grid-area: results;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    flex-wrap: wrap;

    overflow: auto;
    border-top: olive solid 2px;
}

.cands {
    height: 400px;
    width: 250px;

    border: olive solid 2px;
    border-radius: 20px;
    overflow: auto;
}

h2 {
    text-align: center;
}

#menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

#back {
    position: fixed;
    top: 40px;
    left: 30px;
}

* {
    color: olive;
}

#div_lider {
    grid-area: lider;
    border-top: solid olive 2px;
}