body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "menu"
    "form";

    margin: 0px;
    background-color: rgb(39, 39, 39);
}

#form {
    grid-area: form;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: olive solid 2px;
}

#div_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 25px;
    padding-bottom: 45px;
    border: olive solid 2px;
    border-radius: 20px;

    transform: scale(1.15);
}

#menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

#back {
    position: fixed;
    top: 40px;
    left: 30px;
}

* {
    color: olive;
}

button {
    background-color: rgb(39, 39, 39);
    border: olive solid 2px;
}

input {
    background-color: rgb(39, 39, 39);
    border: olive solid 2px;
}
