body {
    margin: 0px;
    background-color: rgb(39, 39, 39);
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    height: 100vh;
}

#back {
    position: fixed;
    top: 40px;
    left: 30px;
}

button {
    background-color: rgb(39, 39, 39);
    border: olive solid 2px;
}

input {
    background-color: rgb(39, 39, 39);
    border: olive solid 2px;
}

* {
    color: olive;
}