body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
    "menu"
    "chart";

    margin: 0px;
    background-color: rgb(39, 39, 39);
}

#menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;

    border-bottom: olive  solid 2px;
}

#chart {
    grid-area: chart;

    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    position: fixed;
    top: 40px;
    left: 30px;
}

* {
    color: olive;
}

#myChart {
    max-width: 1000px;
    max-height: 1000px;
}